<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h1>Student table</h1>
    <span th:if="${students.isEmpty()}">Студентов нет</span>
    <table class="table" th:if="${!students.isEmpty()}">
        <thead>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Score</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="s : ${students}">
            <td th:text="${s.id}"></td>
            <td th:text="${s.name}"></td>
            <td th:text="${s.score}"></td>
            <td> <a class="btn btn-danger" th:href="@{'/students/remove/' + ${s.id}}">Удалить</a> </td>
        </tr>
        </tbody>
    </table>
    <h2>Добавить студента</h2>
    <!--  http://localhost:8189/app/students/add_student  -->

    <form method="POST" th:action="@{/students/add_student}">
        <input type="text" name="name" placeholder="name">
        <input type="number" min="0" name="score" placeholder="score">
        <button class="btn btn-primary" type="submit">Добавить</button>
    </form>
</div>
</body>
</html>